@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* Basic Reset */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

/* Center the content vertically and horizontally */
body {
  background-color: #3e0046;
  color: #f700ff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

h1 {
  margin: 0;
  font-size: 2em;
}

#upload {
  border: 2px dashed #d54ae2;
  border-radius: 15px;
  padding: 40px;
  cursor: pointer;
  width: 400px; /* Increased width */
  height: 200px; /* Increased height */
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

#upload.dragover {
  background-color: #e24ada;
  border-color: #f700f7;
}

#upload:hover {
  background-color: #1F2A36;
}

#dragtext {
  font-size: 1.5em; /* Increased font size */
  color: #ff00bf;
}

#restype {
  margin-top: 20px;
  font-size: 1.2em;
}

#ch2 {
  margin-top: 10px;
  font-size: 1.1em;
  color: #E94E77;
  word-break: break-word;
}

a {
  color: #c94ae2;
  font-size: 1.5em;
  text-decoration: none;
  margin-top: 20px;
  display: inline-block;
}

a:hover {
  color: #ff44ff;
}

input[type="file"] {
  display: none;
}

#dragtext h1 {
  margin: 0;
  font-size: 1em;
}

/* Style for the copy button (if you add one) */
.copy-btn {
  margin-top: 20px;
  background-color: #d940ff;
  border: none;
  color: #FFFFFF;
  padding: 10px 20px;
  font-size: 1em;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.copy-btn:hover {
  background-color: #ef41ff;
}
